.imageWrapper {
  height: 150px;
  cursor: pointer;
}

.imageWrapper img {
  height: 100%;
  width: 100%;
}

.tripCard {
  border: 2px solid var(--color-gray);
  padding: 10px;
  border-top: none;
}

.tripCardActive {
  border: 2px solid var(--color-blue);
  border-top: none;
}
