.imageWrapper {
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageWrapper img {
  height: 100%;
  width: auto;
}

.tripCard {
  border: 2px solid var(--color-gray);
  padding: 10px;
  border-top: none;
}

.tripCardActive {
  border: 2px solid var(--color-blue);
  border-top: none;
}
