.wrapperModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 50px;
  background-color: var(--bg-white);
  gap: 25px;
  box-shadow: var(--box-shadow);
  width: 400px;
}

.wrapperHeader {
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid var(--color-gray);
  display: flex;
  justify-content: space-between;
}

.closeButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapperButtons {
  display: flex;
  gap: 10px;
  justify-content: end;
  padding: 10px;
  border-top: 1px solid var(--color-gray);
}

.wrapperForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  cursor: pointer;
  padding: 5px;
  background-color: var(--bg-white);
  border: 1px solid var(--color-gray);
}

.button:focus {
  background-color: var(--color-blue);
  color: var(--bg-white);
}
.button:hover {
  background-color: var(--color-blue);
  color: var(--bg-white);
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}

.formLabel {
  margin-bottom: 5px;
}

.formInput {
  margin: 0;
  padding: 8px;
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  color: var(--color-gray);
}

.formList {
  display: flex;
  flex-direction: column;
}
