.form {
  position: relative;
}

.searchWrapper {
  margin-bottom: 25px;
}

.searchImg {
  position: absolute;
  width: 15px;
  top: 3px;
  left: 2px;
}

.input {
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 5px;
  outline-color: var(--color-input-outline);
  border: none;
  background-color: var(--bg-white-input);
  width: 200px;
  box-sizing: border-box;
}

.input:focus {
  outline-color: var(--color-blue);
  border: none;
}
