#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.wrapper-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper-forCast {
  width: 75%;
  padding: 10px;
}

.wrapper-forToday {
  width: 25%;
  min-width: 320px;
}
